<div class='w-full flex flex-col justify-center items-center'>
  <div class='w-[50%] flex flex-col'>
    <%= form_with(url: weather_path, method: :get, id: 'address-form', remote: true, class: 'w-full flex flex-col') do |form| %>
      <%= form.text_field :address, id: 'address-input', placeholder: 'Street , City, State, Zip', class: 'w-full', required: true %>
      <%= form.submit :submit, value: 'Get Weather', class: 'ml-auto mt-3 rounded-full border-[1px] p-3', style: 'cursor:pointer;' %>
    <% end %>
  </div>
  <% if (weather_details = extract_weather_details(@weather)).present? %>
    <div class='w-[50%] flex flex-col'>
      <div class='w-full flex justify-between'>
        <h1 class='text-3xl font-bold'>
          <%= weather_details["name"] %>
          <% if weather_details["is_cached"] %>
            <span class='ml-3 text-sm text-green-500'>Cached</span>
          <% end %>
        </h1>
      </div>
      <div class='flex items-center'>
        <img src="https://openweathermap.org/img/wn/<%= weather_details["icon"] %>@2x.png" />
        <h3 class='ml-5 text-xl font-bold'><%= weather_details["temp"] %>°C</h3>
      </div>
      <div>
        <h4 class='text-5md font-bold'>Feels like <%= weather_details["feels_like"] %>°C. <%= weather_details["description"] %>.</h4>
        <div class='bl-1 b'>
          <p>Humidity: <%= weather_details["humidity"] %>%</p>
          <p>Pressure: <%= weather_details["pressure"] %>hPa</p>
          <p>Visibility: <%= weather_details["visibility"] %>m</p>
        </div>
      </div>
    </div>
  <% end %>
</div>
